.Team {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 80vh;
    color: #fff;
    background-color: #ffffff;
}

.Team-Title {
    font-size: 80px;
    color: #dc2626;
    margin: 50px 0px 20px 0px;
}

.Team-Title:hover {
    color: #1e293b;
    transition: 0.3s ease-in;
}

.Team-SubTitle {
    font-size: 27px;
    color: #1e293b;
    margin: 0px auto;
}

.Team-Grid {
    width: 100%;
    margin: 50px auto;
    padding: 0px 0px;
    display: flex;
    justify-content: center;
}

.Members {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: hidden;
    scroll-behavior: smooth;
    width: 85%;
}

.Member {
    min-width: 382px;
    height: 450px;
    margin: 0px 30px 0px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    text-overflow: center;
    background-color: rgb(20, 29, 43);
    border-radius: 3%;
    border: 5px solid #141D2B;
}

.Member:hover {
    background-color: rgb(20, 29, 43, 0.9);
    transition: 0.3s ease-in;
}

.profile {
    width: 180px;
    height: 180px;
    margin: 40px 0px 10px 0px;
    border-radius: 3%;
}

.member-name {
    margin-bottom: 10px;
    font-size: 25px;
}

.socials {
    display: flex;
    margin-bottom: 10px;
}

.socials-icon {
    margin: 0px 10px;
    background-color: #dc2626;
    height: 50px;
    weight: 50px;
    border-radius: 15%;
}
.socials-icon:hover {
    background-color: #1e293b;
    transition: 0.3s ease-in;
}

.member-tagline {
    width: 340px;
}
.prev-btn {
    width: 50px;
    height: 50%;
    position: absolute;
    left: 1%;
    background-color:#fff;
    color: #1e293b;
    font-size: 30px;
    cursor: pointer;
}
.prev-btn>p:hover {
    background-color: #dc2626;
    color: #fff;
    border-radius: 10%;
    transition: 0.3s ease-in;
}
.next-btn {
    width: 50px;
    height: 50%;
    position: absolute;
    right: 1%;
    background-color:#fff;
    color: #1e293b;
    font-size: 30px;
    cursor: pointer;
}
.next-btn>p:hover {
    background-color: #dc2626;
    color: #fff;
    border-radius: 10%;
    transition: 0.3s ease-in;
}

@media (max-width: 1536px) or (max-height: 700px) {
    .Team-Title {
        font-size: 80px;
        color: #dc2626;
        margin: 5px 0px 5px 0px;
    }

    .Team-Grid {
        width: 100%;
        margin: 20px auto;
        padding: 0px 0px;
        display: flex;
        justify-content: center;
    }

    .Member {
        min-width: 310px;
        height: 360px;
        margin: 0px 30px 0px 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        text-overflow: center;
        background-color: rgb(20, 29, 43);
        border-radius: 3%;
        border: 5px solid #141D2B;
    }

    .profile {
        width: 120px;
        height: 120px;
        margin: 25px 0px 10px 0px;
        border-radius: 3%;
    }

    .prev-btn {
        width: 50px;
        height: 40%;
        position: absolute;
        left: 1%;
        background-color:#fff;
        color: #1e293b;
        font-size: 30px;
        cursor: pointer;
    }

    .next-btn {
        width: 50px;
        height: 40%;
        position: absolute;
        right: 1%;
        background-color:#fff;
        color: #1e293b;
        font-size: 30px;
        cursor: pointer;
    }
}

@media (max-width: 640px){
    .Team-Title {
        font-size: 60px;
        color: #dc2626;
        margin: 5px 0px 5px 0px;
    }

    .Team-Grid {
        width: 100%;
        margin: 20px auto;
        padding: 0px 0px;
        display: flex;
        justify-content: center;
    }

    .Member {
        min-width: 295px;
        height: 360px;
        margin: 0px 30px 0px 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        text-overflow: center;
        background-color: rgb(20, 29, 43);
        border-radius: 3%;
        border: 5px solid #141D2B;
    }

    .profile {
        width: 120px;
        height: 120px;
        margin: 25px 0px 10px 0px;
        border-radius: 3%;
    }

    .prev-btn {
        width: 25px;
        height: 40%;
        position: absolute;
        left: 1%;
        background-color:#fff;
        color: #1e293b;
        font-size: 30px;
        cursor: pointer;
    }

    .next-btn {
        width: 25px;
        height: 40%;
        position: absolute;
        right: 1%;
        background-color:#fff;
        color: #1e293b;
        font-size: 30px;
        cursor: pointer;
    }
}

@media (max-width: 350px) or (max-height: 300px){
    .Team-Title {
        font-size: 40px;
        color: #dc2626;
        margin: 5px 0px 5px 0px;
    }

    .Team-Grid {
        width: 100%;
        margin: 20px auto;
        padding: 0px 0px;
        display: flex;
        justify-content: center;
    }

    .Member {
        min-width: 260px;
        height: 260px;
        margin: 0px 30px 0px 6px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        text-overflow: center;
        background-color: rgb(20, 29, 43);
        border-radius: 3%;
        border: 5px solid #141D2B;
    }

    .profile {
        width: 80px;
        height: 80px;
        margin: 25px 0px 10px 0px;
        border-radius: 3%;
    }

    .socials-icon {
        margin: 0px 10px;
        background-color: #dc2626;
        height: 30px;
        weight: 30px;
        border-radius: 15%;
    }

    .prev-btn {
        width: 25px;
        height: 40%;
        position: absolute;
        left: 1%;
        background-color:#fff;
        color: #1e293b;
        font-size: 30px;
        cursor: pointer;
    }

    .next-btn {
        width: 25px;
        height: 40%;
        position: absolute;
        right: 1%;
        background-color:#fff;
        color: #1e293b;
        font-size: 30px;
        cursor: pointer;
    }
}